.logo{
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

.mb-6{
    margin-bottom: 50px;
}

.active-card{
    background-color: #192841;
    color: white;
}

.size{
    margin-left: 90px;
}