body{
    font-size: 15px;
/*     background-color: chartreuse;
 */}

#alignment{
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
    border-style: solid;
    margin-left: 200px;
    width: 75%;
    background-color: #1ac6ff;
}
